@model IEnumerable<DelsProject.Models.Booking>

@{
    ViewData["Title"] = "INDEX";
}

<style>
    table,th,td{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h1>List of Executives Registered</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightOfPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDateTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.WeightOfPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("EditBooking", "EditBooking", new { id = item.OrderID }) |
                @Html.ActionLink("BookingDetails", "BookingDetails", new { id = item.OrderID }) |
                @Html.ActionLink("CancelBooking", "CancelBooking", new { id = item.OrderID })
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Customer" asp-action="MenuPageCustomer">Menu Page</a>
</div>